[Desktop Entry]
Name=Step Guide
Name[sv]=Stegvisaren
Comment=Break down tasks into visual steps for children with ADHD/autism
Comment[sv]=Bryt ner uppgifter i visuella steg
Exec=stegvisaren
Icon=se.danielnylander.stegvisaren
Type=Application
Categories=Education;Accessibility;Autismappar
